/.ipynb_checkpoints
/.RData
/.Rhistory
/3546845.ipynb
/AmneziaVPN.lnk
/attention_Dorsa_Abbasi.ipynb
/autorun.inf
/BearVPN.lnk
/c_mpi_sin_results.csv
/c_mpi_sin_speedup.csv
/data
/desktop.ini
/Drawing1.vsdx
/EX0502.DAT
/finalsqlsofar.docx
/Firefox.exe
/Internet Download Manager.lnk
/matin.docx
/New Text Document (2).txt
/New Text Document.txt
/ODT.exe
/Office
/office.zip
/Opera Browser.lnk
/out
/Pagano (Cls 1-2)
/Pagano (Cls 1-2) (1).zip
/pthreads_sin_speedup.csv
/results.csv
/Sem3(regression).R
/Telegram.lnk
/This PC - Shortcut.lnk
/Untitled-1.ipynb
/Visual Studio Code.lnk
/__MACOSX